nav{
    background-color: #333333;
    display: flex;    
    height: 64px;
    justify-content: space-between;
    padding: 0 24px;
}

.brandLogo{
    cursor: pointer;
}

.brandLogo img{
    mix-blend-mode: lighten;
    height: 100%;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.right .userInfo{
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}

.right i{
    font-size: 1.5em;
}

.login {
    display: none;
    position: fixed;
    right: 5em;
    top: 4em;
    padding: 0px 12px;
    text-align: center;
    background-color: rgb(227, 227, 227);
    color: black;
    cursor: pointer;
}

.logout{
    display: none;
    padding: 0px 12px;
    text-align: center;
    background-color: rgb(227, 227, 227);
    color: black;
    position: fixed;
    right: 5em;
    top: 4em;
    cursor: pointer;
}

nav > div > p{
    padding: 16px;
}

nav > div > p:nth-child(1){
    border-bottom: 1px solid black;
}

nav > div a{
    color: black;
    font-size: large;
    text-decoration: none;
}

.hamburger{
    cursor: pointer;
}

.hamburgerPart{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 18%;
    height: 100vh;
    background-color: var(--black);
    padding: 24px 40px;
    line-height: 24px;
    background-color: #333333;
}

.hamburgerPart .section{
    text-align: center;
    color: #666666;
    margin: 34px auto;
    font-size: 1em;
}

.hamburgerPart .clearingHam{
    display: block;
    display: flex;
    justify-content: end;
    font-size: 1.5em;
    cursor: pointer;
}

.hamburgerPart .section:nth-child(1){
    padding: 10px;
    border-bottom: 1px solid #666666;
}

.hamburgerPart .section:nth-child(1) .heading{
    margin-bottom: 8px;
    font-size: 1.4em;
}

.hamburgerPart .section .innerDiv{
    margin: 12px auto;
    padding: 23px;
    border-bottom: 1px solid #666666
}

.hamburgerPart .section .heading{
    font-size: 1.3;
    color: white;
}